---
layout: default
title: Página inicial
episode-image: "https://picsum.photos/1000/1000?random=50"

---

<body>

  {% for post in site.posts  limit:1 %}
  <div class="site-blocks-cover overlay" style="background-image: url('{{post.episode-image}}');">
    <div class="container">
      <div class="row align-items-center justify-content-center text-center">
        <div class="col-md-8">
          <h2 class="text-white font-weight-light mb-2 display-4">{{ post.title }}</h2>
          <div class="text-white mb-4"><span
              class="text-white-opacity-05"><small>{{ post.date | date: '%d/ %m/ %Y' }}</small></span></div>
          <p><a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-primary btn-sm py-3 px-4 small">Confira
              maiores detalhes</a></p>

          <div class="player">
            <audio controls style="width: 100%;">
              <source src="{{post.episode-file}}" type="audio/mp3">
            </audio>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

  <div class="site-section bg-light">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-12 text-center">
          <h2 class="font-weight-bold text-black">Recent Podcasts</h2>
        </div>
      </div>

      <ul class="list-unstyled">
        {% for post in site.posts limit: 5 %}
        <li>

          <div class="d-block d-md-flex podcast-entry bg-white mb-5">
            <div class="img-fluid image" style="background-image: url('{{post.episode-image}}.jpg');"></div>
            <div class="text">

              <h3 class="font-weight-light"><a href="{{ post.url }}">{{ post.title }}</a></h3>
              <div class="text-white mb-3"><span
                  class="text-black-opacity-05"><small>{{ post.date | date: '%d/ %m/ %Y' }}</small></span></div>
              <p class="mb-4">{% if post.excerpt %}
                {{ post.excerpt }}
                {% endif %}</p>

              <div class="player">
                <audio controls style="width: 100%;">
                  <source src="{{post.episode-file}}" type="audio/mp3">
                </audio>
              </div>

            </div>
          </div>
        </li>
        {% endfor %}
      </ul>

      <p class="text-center"><a href="{{site.baseurl }}/episodios"
          class="btn btn-primary btn-sm py-3 px-4 small">Confira
          maiores detalhes</a></p>
    </div>
  </div>

  <div class="site-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-12 text-center">
          <h2 class="font-weight-bold text-black">Behind The Mic</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="team-member">

            <img
              src="{{site.url}}/img/host-1.jpg"
              alt="Image" class="img-fluid">

            <div class="text">

              <h2 class="mb-2 font-weight-light h4">Fernando Fernandes</h2>
              <span class="d-block mb-2 text-white-opacity-05">Creative Director</span>
              <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit ullam reprehenderit nemo.</p>
              <p>
                <a href="#" class="text-white p-2"><span class="icon icon-facebook"></span></a>
                <a href="#" class="text-white p-2"><span class="icon icon-twitter"></span></a>
                <a href="#" class="text-white p-2"><span class="icon icon-linkedin"></span></a>
              </p>
            </div>

          </div>
        </div>

        <div class="col-6">
          <div class="team-member">


            <img src="{{site.url}}/img/host-2.png" alt="Image" class="img-fluid">

            <div class="text">

              <h2 class="mb-2 font-weight-light h4">Wagner Beethoven</h2>
              <span class="d-block mb-2 text-white-opacity-05">Designer</span>
              <p class="mb-4">Profissional com mais de dez anos atuando na área de TIC com bastante experiência em
                usabilidade e sendo um entusiasta da acessibilidade e das tecnologia assistivas.</p>
              <p>
                <a href="#" class="text-white p-2"><span class="icon icon-facebook"></span></a>
                <a href="#" class="text-white p-2"><span class="icon icon-twitter"></span></a>
                <a href="#" class="text-white p-2"><span class="icon icon-linkedin"></span></a>
              </p>
            </div>

          </div>
        </div>


      </div>
    </div>
  </div>

  <div class="section-newsletter site-blocks-cover overlay inner-page-cover"
    style="background-image: url(https://picsum.photos/1000/1000?random=12);">
    <div class="container">
      <div class="row align-items-center justify-content-center text-center">

        <div class="col-md-6">
          {% include newsletter.html %}
        </div>
      </div>
    </div>
  </div>