<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="mb-5">
                    <h3 class="footer-heading mb-4">
                        {{site.title}}
                    </h3>
                    <p>{{site.description}}</p>
                </div>



            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="row mb-5">
                    <div class="col-md-6 col-lg-6">
                        <h3 class="footer-heading mb-4">Menu</h3>
                        <ul class="list-unstyled">
                            {%include menu.html %}

                        </ul>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <h3 class="footer-heading mb-4">Follow Us</h3>

                        <ul class="list-unstyled">
                            <li> <a target="_blank" href="https://www.facebook.com/Disaine-BR-395896027550639" class="">Facebook</a></li>
                            <li> <a target="_blank" href="http://Twitter.com/disainebr" class="">Twitter</a></li>
                            <li> <a target="_blank" href="http://Instagram.com/disainebr" class="">Instagram</a></li>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="col-lg-4 mb-5 mb-lg-0">


                <div class="mb-5">
                    {% include newsletter.html %}

                </div>

            </div>

        </div>

    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="{{site.url}}js/main.js"></script>

</body>

</html>