<h3 class="footer-heading mb-2">Subscribe Newsletter</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit minima minus odio.</p>

<form action="https://yahoo.us17.list-manage.com/subscribe/post?u=250fca33bc42fb8e5636d2162&amp;id=f3af80cb91"
    method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"
    novalidate>
    <div class="input-group mb-3">

        <label class="d-none" for="mce-EMAIL">Email</label>

        <input type="email" value="" name="EMAIL"
            class="form-control border-secondary text-white bg-transparent required email" id="mce-EMAIL"
            aria-label="Enter Email" aria-describedby="mc-embedded-subscribe" placeholder="Digite seu email">
        <div class="input-group-append">
            <input type="submit" value="Enviar" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">
        </div>
    </div>
    <div id="mce-responses" class="d-none">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div aria-hidden="true">
            <input type="text" name="b_250fca33bc42fb8e5636d2162_f3af80cb91" tabindex="-1" value="">
        </div>
    </div>
</form>